.reveal {
  section {
   position: relative;
   img {
    border: none!important;
    box-shadow: none!important;
    height: auto!important;
    margin: 0 !important;
   }
 }
}
.editable-style {
  display: block;
  width: 100%;
  min-height: 100px;
  padding: 10px 20px;
  tab-size: 2;
  margin: 30px auto;
  text-align: left;
}
code {
  padding: 10px 20px!important;
}
style {
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  max-height: 200px;
  overflow: scroll;
}


