#about,
#clients {
  img.lullalogo {
    position: absolute;
    top: 30px;
    border: 0;
    box-shadow: none;
    width: 18%;
    right: 100%;
  }
  img.clients {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    transform: translate(12%, 50px);
  }
}
#box-sizing-editable {
  div {
    height: 100px;
    background: #ccc;
    font-size: 22px;
    width: 25%;
    float: left;
    border: none;
    padding: 0px;
    text-align: left;
    &:nth-child(even) {
      background: #ddd;
    }
  }
}
#centering-editable {
  > .wrapper { 
    background: #eee;
    min-width: 25%;
    .inner {
      width: 50px;
      height: 50px;
      background: #ccc;
    }
  }
}
#cover-images-editable .wrapper {
  background: #eee;
}
#pseudo-mq {
  .wrapper {
    width: 600px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #eee;
    li {
      display: block;
      float: left;
      padding: 3px;
      background: #666;
      border: solid 2px white;
      box-sizing: border-box;
      text-align: center;
      color: white;
    }
  }
}
#not {
  .item {
    min-height: 20px;
    width: 200px;
    background: #eee;
    border: solid 1px white;
    font-size: 18px;
    color: white;
    list-style:none;
    padding: 5px 10px;
    margin: 0;
  }
  .item-green {
    background: green;
  }
  .item-blue {
    background: blue;
  }
  .item-orange {
    background: orange;
  }
  .item-red {
    background: red;
  }
}
#flex{
  #flex-editable {
    div {
      float: left;
      font-size: 16px;
      width: 33%;
      box-sizing: border-box;
      padding: 20px;
      background: #eee;
      border-right: 1px solid white;
      line-height: 1.3;
      &:last-child {
        border: none;
      }
    }
  }
}
#fixed-aspect {
  #fixed-aspect-editable {
    * {
      box-sizing: border-box;
    }
    .item {
      float: left;
      background: #eee;
      border-right: 1px solid white;
      overflow: hidden;
      &:last-child {
        border: none;
      }
      div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 30px;
        font-size: 16px;
        line-height: 1.3;
      }
    }
  }
}
#pseudo-elements-editable {
  div {
    width: 300px;
    height: 50px;
    background: #333;
    margin: 0 auto;
  }
}
#pointer-events-editable {
  a.large {
    width: 200px;
    height: 200px;
    display: block;
    background: #ccc;
    &:hover {
      background: #ddd;
    }
  }
  a.small {
    position: relative;
    top: -100px;
    left: 20px;
    height: 50px;
    width: 50px;
    display: block;
    background: green;
    &:hover {
      background: lightgreen;
    }
  }
}
#calc-vw-editable {
  * {
    box-sizing: border-box;
  }
  div {
    padding: 20px;
    font-size: 13px;
  }
  .first {
    background: #eee;
    float: left;
  }
  .last {
    background: #ccc;
    float: left;
  }
}
#mq-js {
  pre {
    margin-bottom: 10px;
  }
}
























